.imagen{
    width: 200px;
    height: 90px;
    margin: 10px; 
}

.chucknorris {
    justify-content: center;
    justify-self: center;
}
tbody>tr:hover{
    background-color: lightgreen;
    cursor: pointer;
}
