.fotos {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    gap: 1em;

}

.fotos img {
    width: 100%;
    justify-self: center;
    align-self: center;
    
}

.fotos-mas {
    font-size: 3em;
    color: grey;
    margin: 2em 0em 2em 0em;
    text-align: center;
    cursor: pointer;
}

.fotos-mas:hover {
    color: blue;
}